<div class="card">
    <div class="header">
        <h1>Wypełnij formularz</h1>
        <p>Skontaktujemy się z Tobą najszybciej jak to będzie możliwe.</p>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">
        <div class="input">
            <label class="form-label">Nazwa firmy / Imię i nazwisko<span class="required-symbol">*</span></label>
            <input class="form-control" type="text" [formControlName]="controlNames.NAME" placeholder="Apple"
                appBootstrapErrors>
        </div>

        <div class="input">
            <label class="form-label">Numer NIP<span class="required-symbol">*</span></label>
            <input class="form-control" type="text" [formControlName]="controlNames.NIP" placeholder="123-45-67-890"
                appBootstrapErrors>
        </div>
        <div class="input">
            <label class="form-label">E-mail<span class="required-symbol">*</span></label>
            <input class="form-control" type="text" [formControlName]="controlNames.EMAIL_ADDRESS"
                placeholder="example@example.com" appBootstrapErrors>
        </div>
        <div class="input">
            <label class="form-label">Numer telefonu</label>
            <input class="form-control" type="text" [formControlName]="controlNames.TELEPHONE"
                placeholder="123 456 789">
        </div>
        <div class="input">
            <label class="form-label">Temat<span class="required-symbol">*</span></label>
            <select class="form-select" [formControlName]="controlNames.TOPIC" appBootstrapErrors>
              <option *ngFor="let item of topicOptions" [value]="item.value">{{ item.label }}</option>
            </select>
        </div>
        <div class="input d-flex bd-highlight">
            <label class="p-2 flex-fill bd-highlight form-label">Czy posiadasz prawojazdy kategorii B?</label>
            <div class="form-check p-2 flex-fill bd-highlight">
                <input class="form-check-input" type="radio" id="yes" [formControlName]="controlNames.DRIVING_LICENSE"
                    [value]="true" [name]="controlNames.DRIVING_LICENSE">
                <label class="form-check-label form-label align-text-bottom" for="yes">Tak</label>
            </div>
            <div class="form-check p-2 flex-fill bd-highlight">
                <input class="form-check-input" type="radio" name="flexRadioDisabled" id="no"
                    [formControlName]="controlNames.DRIVING_LICENSE" [value]="false"
                    [name]="controlNames.DRIVING_LICENSE">
                <label class="form-check-label form-label align-text-bottom" for="no">Nie</label>
            </div>
        </div>
        <div class="input">
            <label class="form-label">Treść wiadomości</label>
            <textarea class="form-control" type="text" [formControlName]="controlNames.CONTENT"
                placeholder="Dzień dobry," rows="3"></textarea>
        </div>
        <div class="input form-check mt-4">
            <input class="form-check-input" type="checkbox" [formControlName]="controlNames.ALL_AGREEMENTS"
                [id]="controlNames.ALL_AGREEMENTS" (change)="allAgreementChange()">
            <label class="form-check-label" [for]="controlNames.ALL_AGREEMENTS">
                <b>Zaznacz wszystkie zgody</b>
            </label>
        </div>
        <div class="input form-check">
            <input class="form-check-input" type="checkbox" [formControlName]="controlNames.DATA_PROCESSING_AGREEMENT"
                [id]="controlNames.DATA_PROCESSING_AGREEMENT" appBootstrapErrors>
            <label class="form-check-label" [for]="controlNames.DATA_PROCESSING_AGREEMENT">
                Wyrażam zgodę na przetwarzanie moich danych osobowych podanych przeze mnie w powyższym formularzu w celu
                kontaktowym.<span class="required-symbol">*</span>
            </label>
        </div>
        <div class="input form-check">
            <input class="form-check-input" type="checkbox" [formControlName]="controlNames.MARKETING_AGREEMENT"
                [id]="controlNames.MARKETING_AGREEMENT">
            <label class="form-check-label" [for]="controlNames.MARKETING_AGREEMENT">
                Wyrażam zgodę na kontakt telefoniczny w sprawach marketingowych
            </label>
        </div>
        <div class="submit-button">
            <button [disabled]="!contactForm.valid" type="submit" class="btn btn-success">Wyślij wiadomość</button>
        </div>
    </form>
</div>