.card {
    margin: auto;
    width: 580px;
    height: auto;
    border: 1px solid rgba(103, 103, 103, 0.05);
    border-radius: 25px;
    background-color: #ffffff;
    margin-bottom: 100px;
}

.header {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: #1E1D1D;
    }

    p {
        color: #949494;
    }
}

.input {
    margin: 0 50px 10px 50px;
}

.required-symbol{
    color:red;
}

.form-label {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 12px;
}

.submit-button {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    button {
        width: 241px;
        height: 60px;
        border-radius: 30px;
        background-color: #40DE4E;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
    }
} 